

# USER=lfiorini
# DOMAIN_NAME=lfiorini.42.fr
# # certificates
# CERTS_=./XXXXXXXXXXXX
# # MYSQL SETUP
# MYSQL_ROOT_PASSWORD=XXXXXXXXXXXX
# MYSQL_USER=XXXXXXXXXXXX
# MYSQL_PASSWORD=XXXXXXXXXXXX
# # WORDPRESS SETUP
# WP_DB_NAME=inception
# WP_DB_USER=XXXXXXXXXXXX
# WP_DB_PASSWORD=XXXXXXXXXXXX
# # FTP SETUP
# FTP_USER=XXXXXXXXXXXX
# FTP_PASSWORD=XXXXXXXXXXXX



DOMAIN_NAME=lfiorini.42.fr

SQL_DB=wordpress
SQL_USR=lfiorini
SQL_PWD=changeme
SQL_HOSTNAME=mariadb
SQL_ROOT_PWD=changeme-123

WP_TITLE=HelloWorld
WP_USR=lfiorini
WP_PWD=changeme
WP_EMAIL=address1@gmail.com
WP_ADMIN_USR=lorenzo
WP_ADMIN_PWD=changeme-123
WP_ADMIN_EMAIL=address1@gmail.com



BONUS=0
